<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934568623032-c0lukubut3s7m0o81qr3f97d3ae8ocjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934568623032-c0lukubut3s7m0o81qr3f97d3ae8ocjv</string>
	<key>API_KEY</key>
	<string>AIzaSyCjZQV4ULbiNFk12-PyqrpGIVCi7k6KP0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>934568623032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>itouhiroto.Swimmy</string>
	<key>PROJECT_ID</key>
	<string>swimmy-ebeaa</string>
	<key>STORAGE_BUCKET</key>
	<string>swimmy-ebeaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934568623032:ios:d547a1bfee1aea55006d4d</string>
</dict>
</plist>